<div class="lar-middle">
    <h1 class="fw-bold" data-i18n="moral-page-{{currentPage}}-{{totalPage}}">###</h1>
    <h2 class="fw-bold"">{{pageTitle}}</h2>

    <div class="container d-flex flex-column">
        {{#if note}}
            <div class="fs-7 pt-3">
                <span class="fs-6 fw-bold">{{note.desc}}</span>
                {{#each note.items}}
                    <p>
                        <span class="fw-bold">{{this.title}}</span>
                        {{#each this.desc}}
                            </br>
                            <span class="p-2">{{this}}</span>
                        {{/each}}
                    </p>
                {{/each}}
            </div>
        {{/if}}

        <div id="individual">
            <h4 class="fw-bold" data-i18n="moral-training-task1"></h4>

            <div class="fs-4 judgment" style="line-height: 1.1;">
                <p class="fw-bold">{{question.title}}</p>
                <p>{{question.selftext}}</p>
                <p class="fw-bold" data-i18n="moral-question-what-judgment"></p>
                <div class="container d-flex flex-column">
                    <div class="pb-2">
                        <input type="radio" class="btn-check" name="individualJudgment" id="individual-YA" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-light w-100" for="individual-YA" data-i18n="moral-question-what-judgment-YA" onclick="setIndividualJudgment('YA')">###</label>
                    </div>
                    <div>
                        <input type="radio" class="btn-check" name="individualJudgment" id="individual-NA" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-light w-100" for="individual-NA" data-i18n="moral-question-what-judgment-NA" onclick="setIndividualJudgment('NA')">###</label>
                    </div>
                    <div class="invalid-feedback" data-i18n="moral-please-answer"></div>
                </div>
            </div>

            <div class="fs-4 pt-4 confident">
                <p class="fw-bolder" data-i18n='moral-question-how-confident'></p>
                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-2">
                    {{#times 5}}
                        <div class="col">
                            <input type="radio" class="btn-check" name="individualConfident" id="individual-confident-{{this}}" autocomplete="off">
                            <label class="btn btn-outline-secondary btn-light w-100 h-100 text-center flex-center" for="individual-confident-{{this}}" data-i18n="moral-question-confidence-{{this}}" onclick="setIndividualConfident('{{this}}')">###</label>
                        </div>
                    {{/times}}
                </div>
                <div class="invalid-feedback" data-i18n="moral-please-answer"></div>
            </div>

            <button
                id="finalize"
                type="button"
                class="btn btn-secondary custom-btn-left me-auto"
                data-i18n="moral-next"
                onclick="finalizeJudgment()"
                >
                Next
            </button>
        </div>

        <div id="group" class="mt-5">
            <h4 class="fw-bold" data-i18n="moral-training-task2-{{topic}}"></h4>

            <div class="fs-4" style="line-height: 1.1;">
                
                <div id="YA">
                    <img class="img-fluid" src="../img/{{topic}}/{{question._id}}_YA.png" alt="{{topic}}/{{question._id}}">

                    <p class="fw-bold">
                        <span data-i18n="moral-question-community-disagree-1"></span>
                        <span>100</span>
                        <span data-i18n="moral-question-community-disagree-2"></span>
                        YA , {{question.very_certain_YA}}
                        <span data-i18n="moral-question-community-disagree-3"></span>
                        {{question.not_very_certain_YA}}
                        <span data-i18n="moral-question-community-disagree-4"></span>
                    </p>
                </div>

                <div id="NA" class="pb-3">
                    <img class="img-fluid" src="../img/{{topic}}/{{question._id}}_NA.png" alt="{{topic}}/{{question._id}}">

                    <p class="fw-bold">
                        <span data-i18n="moral-question-community-disagree-1"></span>
                        <span>100</span>
                        <span data-i18n="moral-question-community-disagree-2"></span>
                        NA , {{question.very_certain_NA}}
                        <span data-i18n="moral-question-community-disagree-3"></span>
                        {{question.not_very_certain_NA}}
                        <span data-i18n="moral-question-community-disagree-4"></span>
                    </p>
                </div>

                <div class="container d-flex flex-column judgment">
                    <div class="pb-2">
                        <input type="radio" class="btn-check" name="groupJudgment" id="group-YA" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-light w-100" for="group-YA" data-i18n="moral-question-what-judgment-YA" onclick="setGroupJudgment('YA')">###</label>
                    </div>
                    <div>
                        <input type="radio" class="btn-check" name="groupJudgment" id="group-NA" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-light w-100" for="group-NA" data-i18n="moral-question-what-judgment-NA" onclick="setGroupJudgment('NA')">###</label>
                    </div>
                    <div class="invalid-feedback" data-i18n="moral-please-answer"></div>
                    <div class="pt-2" class="collapse">
                        <p id="judgmentResult" class="survey1-paragraph-body mid-font fw-bolder">
                            <span id="judgmentSame" data-i18n="moral-question-judgment-same"></span>
                            <span id="judgmentChange_NA">
                                <span data-i18n="moral-question-judgment-change"></span>
                                <span data-i18n="moral-question-what-judgment-YA"></span>
                            </span>
                            <span id="judgmentChange_YA">
                                <span data-i18n="moral-question-judgment-change"></span>
                                <span data-i18n="moral-question-what-judgment-NA"></span>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="fs-4 pt-4 confident container">
                    <p class="fw-bolder" data-i18n='moral-question-how-confident'></p>
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-2">
                        {{#times 5}}
                            <div class="col">
                                <input type="radio" class="btn-check" name="groupConfident" id="group-confident-{{this}}" autocomplete="off">
                                <label class="btn btn-outline-secondary btn-light w-100 h-100 text-center flex-center" for="group-confident-{{this}}" data-i18n="moral-question-confidence-{{this}}" onclick="setGroupConfident('{{this}}')">###</label>
                            </div>
                        {{/times}}
                    </div>
                    <span class="invalid-feedback" data-i18n="moral-please-answer"></span>
                    <div class="pt-2">
                        <p id="confidentResult" class="survey1-paragraph-body mid-font fw-bolder">
                            <span id="confidentSame" data-i18n="moral-question-confidence-same"></span>
                            <span id="confidentChange">
                                <span data-i18n="moral-question-confidence-change"></span>
                                <span id="prev-confident" > ### </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            {{#if isTraing}}
                <p id="training-end" class="fs-6 pt-4 fw-bold" data-i18n="moral-training-end"></p>
                <button
                    type="button"
                    class="btn btn-secondary custom-btn-left me-auto"
                    data-i18n="moral-next"
                    onclick="tryNext(true, '{{question._id}}')"
                    >
                    Next
                </button>
            {{else}}
                <button
                    id="next"
                    type="button"
                    class="btn btn-secondary custom-btn-left me-auto"
                    data-i18n="moral-next"
                    onclick="tryNext(false, '{{question._id}}')"
                    >
                    Next
                </button>
            {{/if}}
        </div>
    </div>
</div>
{{#if isTraing}}
    <script>
        $("#training-end").hide();
        // add an extra EventListener 
        $("#group input").on("click", function() {
                console.log($("#group input:checked").length);
                if ($("#group input:checked").length == 2) {
                    $("#training-end").show();
                }
            }
        );
    </script>
{{/if}}
<script>
    let individualJudgment = "";
    let groupJudgment = "";
    let individualConfident = "";
    let groupConfident = "";
    let comment = "";
    $("#group").hide();
    $("#judgmentResult").hide();
    $("#confidentResult").hide();

    function setIndividualJudgment(ans){
        individualJudgment = ans;
        $("#individual .judgment .invalid-feedback").hide();
    }

    function setIndividualConfident(ans){
        individualConfident = ans;
        $("#individual .confident .invalid-feedback").hide();
    }

    function finalizeJudgment(){
        if (individualJudgment != "" && individualConfident != "") {
            $("#individual .judgment input").prop('disabled', true);
            $("#individual .confident input").prop('disabled', true);

            if (individualJudgment == "YA") {
                $("#NA").show();
                $("#YA").hide();
            } else {
                $("#YA").show();
                $("#NA").hide();
            }

            $("#finalize").hide();
            $("#group").show();
        } else if (individualJudgment == "") {
            $("#individual .judgment .invalid-feedback").show();
        }
        else if (individualConfident == "") {
            $("#individual .confident .invalid-feedback").show();
        }
    }

    function setGroupJudgment(ans){
        groupJudgment = ans;
        $("#group .judgment .invalid-feedback").hide();
        $("#judgmentResult").show();
        if (individualJudgment == ans) {
            $("#judgmentSame").show();
            $("#judgmentChange_NA").hide();
            $("#judgmentChange_YA").hide();
        } else {
            $("#judgmentSame").hide();
            if (ans == "YA") {
                $("#judgmentChange_YA").show();
                $("#judgmentChange_NA").hide();
            } else {
                $("#judgmentChange_NA").show();
                $("#judgmentChange_YA").hide();
            }
        }
    }

    function setGroupConfident(ans){
        groupConfident = ans;
        $("#group .confident .invalid-feedback").hide();
        $("#confidentResult").show();
        if (individualConfident == ans) {
            $("#confidentSame").show();
            $("#confidentChange").hide();
        } else {
            $("#confidentSame").hide();
            $("#confidentChange").show();
            $("#confidentChange #prev-confident").text($.i18n("moral-question-confidence-" + individualConfident));
        }
    }

    function tryNext(isTraing, id) {
        if (groupJudgment != "" && groupConfident != "") {
            let result = {
                answer: {
                    questionId: id,
                    individualAnswer: {
                        isAsshole: individualJudgment == "YA",
                        rating: Number(individualConfident)
                    },
                    groupAnswer: {
                        isAsshole: groupJudgment == "YA",
                        rating: Number(groupConfident)
                    },
                    comment: comment
                }
            };
            if (!isTraing) {
                LITW.utils.saveResultData(result);
            }
            console.log(result);
            nextPage();
        } 
        else if (groupJudgment == "") {
            $("#group .judgment .invalid-feedback").show();
        }
        else if (groupConfident == "") {
            $("#group .confident .invalid-feedback").show();
        }
    }
</script>