<div class="ms-5 me-5">
    <h1 class="bolded-blue" data-i18n="moral-page-1-2">###</h1>
    <h2 class="bolded-blue" data-i18n="moral-topic-understand-{{topic}}">###</h1>
    
    <div class="container d-flex flex-column">
        <div class="pb-3 fs-5">
            <div class="p-3">
                <span class="bolded-blue" data-i18n="moral-topic-what-is-reddit">###</span>
                &nbsp;
                <span class="bolded-blue ms-auto" data-i18n="moral-topic-reddit">###</span>
                <span class="ms-auto" data-i18n="moral-topic-what-is-reddit-ans">###</span>
            </div>
            <div class="p-3">
                <span class="bolded-blue" data-i18n="moral-topic-what-is-aita">###</span>
                &nbsp;
                <span class="bolded-blue ms-auto" data-i18n="moral-topic-aita">###</span>
                <span class="ms-auto" data-i18n="moral-topic-what-is-aita-ans">###</span>
            </div>
    
            <div class="p-3">
                <p class="bolded-blue" data-i18n="moral-topic-categorize-judgments">###</p>
                <p>
                    <span class="bolded-blue ms-auto" data-i18n="moral-topic-judgments-1">###</span>
                    {{#times 3}}
                        <span class="ms-auto" data-i18n="moral-topic-judgments-1-detail-{{this}}">###</span>
                        </br>
                    {{/times}}
                </p>
                <p>
                    <span class="bolded-blue ms-auto" data-i18n="moral-topic-judgments-2">###</span>
                    {{#times 3}}
                        <span class="ms-auto" data-i18n="moral-topic-judgments-2-detail-{{this}}">###</span>
                        </br>
                    {{/times}}
                </p>
            </div>
        </div>

        <div class="pb-3 fs-5">
            <div>
                <span data-i18n="moral-topic-reddit-summary-1">###</span>
                <i data-i18n="moral-topic-reddit-summary-2">###</i>
                <span data-i18n="moral-topic-reddit-summary-3">###</span>
                <i data-i18n="moral-topic-reddit-summary-4">###</i>
                <span data-i18n="moral-topic-reddit-summary-5">###</span>
            </div>

            <div class="pt-3">
                <p class="bolded-blue fs-5" data-i18n="moral-practice-skip"></p>
                <button type="button" class="btn btn-secondary me-auto" onclick="skipTraing()" data-i18n="moral-skip"></button>
            </div>

            {{#if isRele}}
            {{else}}
            <div class="p-3">
                <h3 class="bolded-blue" data-i18n="moral-topic-what-is-{{topic}}">###</h2>
                <p class="bolded-blue" data-i18n="moral-topic-what-is-{{topic}}-ans"></p>
                <ul>
                    <li class="pb-1">
                        <u data-i18n="moral-topic-high-uncertainty"></u>
                        <span data-i18n="moral-topic-high-uncertainty-explain"></span>
                    </li>
                    <li>
                        <u data-i18n="moral-topic-low-uncertainty"></u>
                        <span data-i18n="moral-topic-low-uncertainty-explain"></span>
                    </li>
                </ul>
            </div>
            <div class="p-3">
                <h4 class="bolded-blue">
                    <span data-i18n="moral-topic-practice-question"></span>
                    <span data-i18n="moral-topic-{{topic}}"></span>
                </h4>
                <img class="img-fluid" src="../img/{{topic}}_example.png" alt="{{topic}}_example">
                <p data-i18n="moral-topic-practice-img-explain-{{topic}}"></p>
                <p class="bolded-blue" data-i18n="moral-topic-practice-question-uncertainty"></p>
                <div id="practice-question" class="p-2">
                    <div class="container d-flex flex-column">

                        {{#if isCon}}
                        <div class="pb-2">
                            <input type="radio" class="btn-check" name="practice" id="high-controversy" autocomplete="off">
                            <label class="btn btn-outline-secondary w-100" for="high-controversy" data-i18n="moral-topic-high-controversy" onclick="checkAsnwer(0)">###</label>
                        </div>
                        <div>
                            <input type="radio" class="btn-check" name="practice" id="low-controversy" autocomplete="off">
                            <label class="btn btn-outline-secondary w-100" for="low-controversy" data-i18n="moral-topic-low-controversy" onclick="checkAsnwer(1)">###</label>
                        </div>
                        {{else}}

                        <div class="pb-2">
                            <input type="radio" class="btn-check" name="practice" id="high-uncertainty" autocomplete="off">
                            <label class="btn btn-outline-secondary w-100" for="high-uncertainty" data-i18n="moral-topic-high-uncertainty" onclick="checkAsnwer(1)">###</label>
                        </div>
                        <div>
                            <input type="radio" class="btn-check" name="practice" id="low-uncertainty" autocomplete="off">
                            <label class="btn btn-outline-secondary w-100" for="low-uncertainty" data-i18n="moral-topic-low-uncertainty" onclick="checkAsnwer(0)">###</label>
                        </div>

                        {{/if}}
                     

                        <div class="invalid-feedback" id="invalid-feedback">Please answer the question</div>
                    </div>
                    <div class="pt-2">
                        <div class="collapse" id="correct">
                            <p class="survey1-paragraph-body mid-font bolded-blueer" data-i18n='moral-topic-practice-question-{{topic}}-ans-p1' ></p>
                            <span class="survey1-paragraph-body mid-font bolded-blueer" data-i18n='moral-topic-practice-question-{{topic}}-ans-s1'></span>
                            <span class="survey1-paragraph-body mid-font" data-i18n='moral-topic-practice-question-{{topic}}-ans-s2'></span>
                        </div>
                        <div class="collapse" id="wrong">
                            <p class="survey1-paragraph-body mid-font bolded-blueer" data-i18n='moral-topic-practice-question-{{topic}}-ans2-p1'></p>
                            <span class="survey1-paragraph-body mid-font bolded-blueer" data-i18n='moral-topic-practice-question-{{topic}}-ans2-s1'></span>
                            <span class="survey1-paragraph-body mid-font" data-i18n='moral-topic-practice-question-{{topic}}-ans2-s2'></span><br>
                            <span class="survey1-paragraph-body mid-font bolded-blueer" data-i18n='moral-topic-practice-question-{{topic}}-ans2-s3'></span>
                            <span class="survey1-paragraph-body mid-font" data-i18n='moral-topic-practice-question-{{topic}}-ans2-s4'></span>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
            
    {{#if isRele}}
    <button
    type="button"
    class="btn btn-secondary custom-btn-left me-auto"
    data-i18n="moral-next"
    onclick="nextPage()"
    >
    Next
    </button>   
    {{else}}
    <button
    type="button"
    class="btn btn-secondary custom-btn-left me-auto"
    data-i18n="moral-next"
    onclick="tryNext()"
    >
    Next
    </button>
    {{/if}}
   
</div>
<script>
    let answer = 0;
    function checkAsnwer(ans) {
        answer = ans;
        if (ans == 1) {
            $("#correct").show();
            $("#wrong").hide();
        } else {
            $("#correct").hide();
            $("#wrong").show();
        }
        $("#practice-question").removeClass("bg-warning-subtle");
        $("#invalid-feedback").hide();
    }
    function tryNext() {
        if (answer == 1) {
            nextPage();
        }
        else {
            $("#invalid-feedback").show();
            $("#practice-question").addClass("bg-warning-subtle");
        }
    }
    function skipTraing() {
        LITW.data.skipTraing = true;
        nextPage()
    }
</script>